@import "mixins";

$color-background-header: #40484c;
$color-background: #485155;
$color-background-secondary: #5a6266;
$color-primary: #c1fd3e;
$color-red: #da1414;

$color-white: #ffffff;
$color-black: #141414;
$color-gray: #5e5e5e;

// Screen sizes for breakpoints.
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

html,
body {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
  width: 100%;
  font-family: "Maven Pro", Helvetica, Arial, sans-serif;
  overflow: scroll;
  font-size: 1.3em;
  padding: 10px;
  background-color: $color-white;
  border: 0;
  color: $color-gray;
}

// Transition
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

label {
  font-size: 1.4em;
  font-family: "Maven Pro", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin: 0;
}

a {
  outline: 0;
  text-decoration: none;
  cursor: pointer;
}

.container {
  padding: 20px 15px 20px 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  text-align: left;
}

.main-container {
  background-color: $color-background;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}

// Loading indicator
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid $color-primary;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $color-primary transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button {
  font-size: 1.2em;
  border: 2px solid $color-primary;
  padding: 10px 20px 10px 20px;
  background-color: $color-background-secondary;
  color: $color-white;
  cursor: pointer;
}

.close-button {
  font-size: 1.2em;
  border: 2px solid $color-red;
  padding: 10px 20px 10px 20px;
  background-color: $color-background-secondary;
  color: $color-white;
  cursor: pointer;
}

.page-title {
  width: fit-content;
  padding: 0 10px;
  border-left: 4px solid $color-primary;
  margin-bottom: 20px;
  text-transform: uppercase;
}
